<div class="row">
                <div class="span12 page-title-container">
                <%= link_to image_tag("page-about.jpg", alt: "Fireplace"), '#' %>

                    <div class="inner-page-title fixed">
                        <h2>About</h2>
                        <p> TA Freeman Plumbing and Heating Engineers. Est 1980</p>
                    </div>
                </div>
</div>
<hr>
<div class="row">
  <div class="span12r">
    <p>

                            Fusce varius euismod lorem, nec semper ante ullamcorper condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tortor eget nunc blandit rutrum. Praesent hendrerit ante sed nulla molestie gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam eu ipsum nec felis facilisis molestie tristique id elit. Vivamus ipsum mi, luctus eu ullamcorper ut, dapibus et elit. Phasellus et mauris eu mi accumsan scelerisque id non lectus. Mauris vel neque non lectus tristique hendrerit sit amet nec nisl. Fusce in velit erat, sed egestas est.
                        
    </p>
  </div>
</div>
                                                                 
~                                                                                                                    
~                                                    `
