<div class="row">
                <div class="span12">
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
				<%= link_to image_tag("central-heating.jpg", alt: "Fireplace"), 'http://rubyonrails.org/' %>
                                <img alt="" src="1.jpg" />
                                <div class="carousel-caption">
                                    <h4>Heating installations</h4>
                                    <p>Boiler and Central heating fitting. Underfloor heating
                                        Ut enim ad minim veniam, quis nostrud. </p>
                                </div>

                            </div>
                            <div class="item">
				<%= link_to image_tag("2.jpg", alt: "Fireplace"), 'http://rubyonrails.org/' %>
                                <div class="carousel-caption">
                                    <h4>Fire installs </h4>
                                    <p> Specializing in Gas fireplaces.
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                </div>
                            </div>

                            <div class="item">
				<%= link_to image_tag("3.jpg", alt: "Fireplace"), 'http://rubyonrails.org/' %>
                                <div class="carousel-caption">
                                    <h4>Plumbing and Gas fitting</h4>
                                    <p> We do plumbing and gas fitting for home and business.
                                        Ut enim ad minim veniam, quis nostrud. </p>
                                </div>
                            </div>

                            <div class="item">
				<%= link_to image_tag("4.png", alt: "Fireplace"), 'http://rubyonrails.org/' %>
                                <div class="carousel-caption">
                                    <h4>Bathroom Plumbing</h4>
                                    <p> We do plumbing and gas fitting for home and business.
                                        Ut enim ad minim veniam, quis nostrud. </p>
                                </div>
                            </div>
                        </div>

                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>
                    <hr/>
                </div>
            </div>
